@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



.app-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 3rem 1rem;
	 
	 
}

.app-container h1 {
	width: 0ch;
	color: rgb(17, 170, 109);



}

.app-container h2 {
	color: rgb(20, 45, 236);
	text-align: center;
}

.text1 {
	position: relative;
	overflow: hidden;
	padding: 1rem;
	display: flex;
	border-radius: 1rem;
}

.text-wrapper {
	position: relative;
	overflow: hidden;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	border-radius: 1rem;
}

.text-wrapper1 {
	position: relative;
	overflow: hidden;
	padding: 1rem;
	display: flex;
	flex-direction: row;
	border-radius: 1rem;

}

@keyframes text {
	0% {
		width: 0ch;
	}

	50% {
		width: 15ch;
		color: rgb(218, 55, 5);
	}
}

.pokemon-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 5rem;
	margin-left: 5%;
}

.all-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	background: url(../src/images/Background.png) no-repeat center center fixed;
	background-size: cover;
}

.thumb-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1.5rem 0.2rem;
	margin: 0.3rem;
	border: 1px solid #efefef;
	border-radius: 2rem;
	min-width: 160px;
	 
	text-align: center;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
}

.thumb-container :hover {
	margin: 0.7rem 0;
}

h3 {
	margin-bottom: 0.2rem;
}

.thumb-container .number {
	border-radius: 1rem;
	padding: 0.2rem 0.4rem;
	background-color: rgba(255, 255, 255, 0.3);
}

.thumb-container img {
	width: 120px;
	height: 120px;
}

.thumb-container small {
	text-transform: capitalize;
}

.detail-wrapper {
	position: relative;
	overflow: hidden;
	border-radius: 1rem;
	display: flex;
	flex-direction: row;
	width: 100%;
	 
}

.desc {
	position: relative;
	overflow: hidden;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.detail-wrapper button {
	color: rgb(22, 22, 22);
	display: flex;
	margin-top: 1rem;
	height: fit-content;
	border: none;
	 
	background-color: rgba(0, 0, 0, 0.185);
	 
}

.load-more {
	background-color: #76daff;
	background-image: linear-gradient(315deg, #76daff 0%, #fcd000 74%);
	border-radius: 6px;
	border: 1px solid #c6c6c6;
	color: #444;
	padding: 0.5rem 1.5rem;
	min-width: 20%;
	margin-top: 1rem;
	font-family: "Satisfy", cursive;
}

button:hover {
	background-color: #ff0000;
	background-image: linear-gradient(315deg, #ff0000 0%, #ffed00 74%);
}

.pokeinfo {
	 margin-left: 5%;
	 
	font-family: "Satisfy", cursive;
	background-image: linear-gradient(180deg, #2af598 0%, #2562b2 100%);
}

.pokeinfo1 {
	margin: 0 25px;
	font-family: "Satisfy", cursive;
	background-image: linear-gradient(180deg, #2af598 0%, #cb18b6 100%);
}



h3 {
	text-decoration: none;
}

.text-wrapper1>img {
	margin-top: 5%;
	width: 30%;
	height: 45%;
	margin-right: 5%;
	margin-left: 5%;
}